@keyframes bgAnim {
    0%   {background-position: 0px   0px,   0px  0px;}
    25%  {background-position: 0px 180px, 360px  0px;}
    50%  {background-position: 0px 360px, 720px  0px;}
    75%  {background-position: 0px 540px, 1080px 0px;}
    100% {background-position: 0px 720px, 1440px 0px;}
}

@font-face { font-family: VampireWars; src: url('VampireWars.otf'); } 

.mainStyle {
	background-color: black;
	background-image: url(bg1.jpg), url(bg2.jpg);
	background-repeat: repeat, repeat;
	background-blend-mode: screen;
	color: #EB8800;
	font-family: Arial;
	text-align: center;

	animation-name: bgAnim;
	animation-duration: 120s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.plainButton {
	background: linear-gradient(to bottom, #995900 5%, #EB8800 100%);
	border-radius: 6px;
	border: 1px solid #EB8800;
	cursor: pointer;
	color: #000000;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
}

.plainButton:hover {
	background: linear-gradient(to top, #995900 5%, #EB8800 100%);
}

pre {
	background-color: #202020B0;
	display: inline-block;
	font-size: 15px;
}

img.logo {
  height: 20%;
  width: 20%;
}

.mainButton {
    background: linear-gradient(to bottom, #995900 5%, #EB8800 100%);
    border-radius: 12px;
    border: 1px solid #EB8800;
    cursor: pointer;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
	width: 260px;
	height: 250px;
    display: inline-block;
}
.mainButton:hover {
	background: linear-gradient(to top, #995900 5%, #EB8800 100%);
}

a:link {
  color: rgba(0,212,255,1);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgba(0,212,255,1);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

table, th, td {
  border: 1px solid #808080;
  border-collapse: collapse;
  background-color: #202020B0;
  padding: 4px 24px;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-bottom: 10em;
}

.nav {
  margin: 0;
  padding: 0;
 }

.nav ul {
 margin: 0;
 padding: 0;
}

.nav li {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav a {
  margin: 0;
  padding: 1em;
}
